.container-fluid {
  padding: 0px;
}
.navbar {
  margin-bottom: 0px;
}
#contact {
  background: rgba(155,100,255,0.6);
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: block;
}
#contact #modaltest {
  width: 33%;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 33%;
  z-index: 10000;
  background: #fff;
  opacity: 0.99;
  box-shadow: 0.5em 0.5em 1em #333;
}
#new-main-header {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 58px;
}
.login-pages {
  text-align: center;
  transition: all 0.4s ease-in-out;
  background-color: #0ff;
  border-radius: none;
  width: 100vw;
  height: 100vh;
}
.login-pages a {
  color: #000;
}
.login-pages #login-container-box {
  width: 500px;
  height: 350px;
  background: #fff;
  border: 1px solid #808080;
  margin: auto;
}
.jumbotron {
  text-align: center;
  transition: all 0.4s ease-in-out;
  background-color: #0ff;
  margin-bottom: 0;
  border-radius: none;
}
.jumbotron a {
  color: #000;
}
.jumbotron #login-container-box {
  width: 400px;
  height: 250px;
  margin: auto;
}
.jumbotron #jumbotron-header-main {
  text-align: center;
  font-size: 18;
  font-family: 'Poiret One', cursive;
}
.jumbotron #slogan {
  text-align: 2s;
  font-family: 'Poiret One', cursive;
}
.jumbotron #write-a-review {
  text-align: center;
}
.jumbotron #write-a-review:hover {
  cursor: pointer;
}
.jumbotron #company-groups .company-group {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
.jumbotron #company-name,
.jumbotron #company-rating,
.jumbotron #featured-company-name,
.jumbotron #featured-company-rating {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  font-family: 'Poiret One', cursive;
  margin-bottom: 10px;
  line-height: 34px;
}
