{% extends "layouts/master.html" %}
<!-- { load filters } -->

{% block head_begin %}


{% endblock %}


{% block head_end %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 id="jumbotron-header-main">SHOUT</h1>
    {% if user.is_authenticated %}
      <p id="write-a-review"><span id="slogan">make your voice count</span></p>
    {% else %}
      <a href="/login"><p id="slogan">make your voice count</p></a>
    {% endif %}
</div>

{% include 'partials/new_review.html' %}


          <!-- experimenting with modals -->
<div class="page-content">
  <div class="row">
    <!-- <div id="column1" class="col-sm-6 col-md-4"> -->
    <div class="col-md-4" id="companies-column-left">
      <h1 id="companies-header">TRENDS</h1>
      <div id="trending-up-container">
        <h2 id="trending-up-header">on the rise</h2>
        {% for company in trending_up %}
        <div class="company-box">
          <a href="companies/{{ company.id }}" id="name">{{ company.name }}</a>
          <div id="rating">{{ company.get_rating_glyph|safe }}</div>
          <div id="description">{{ company.description }}</div>
        </div>
        <div id="clear-space">
        </div>
        {% endfor %}
      </div>

      <div id="trending-down-container">
        <h2 id="trending-down-header">on the fall...</h2>
        {% for company in trending_down %}
        <div class="company-box">
          <a href="companies/{{ company.id }}" id="name">{{ company.name }}</a>
          <div id="rating">{{ company.get_rating_glyph|safe }}</div>
          <div id="description">{{ company.description }}</div>
        </div>
        <div id="clear-space">
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="col-md-8" id="reviews-column-right">
    <h1 id="reviews-header">REVIEWS</h1>

    <div id="review-tag-links">
    {% for review_tag in review_tags %}
      <span class="review-tag"><a href="/search/?search={{ review_tag.slug }}">{{ review_tag }}</a></span>
    {% endfor %}
    </div>

    {% for review in reviews %}
    <div class="review-box">
      <div id="review-box-header">
        <a href="companies/{{ review.company.id }}" id="review-company-name">{{ review.company.name }}</a> <a href="/users/{{ review.user.id }}">{{ review.get_user }}</a>
        <div id="review-rating">
          {{ review.get_rating_glyph|safe }}
          {% for e in review.tags.all %}
            <span id="review-tag-specific">({{ e.name }})</span>
          {% endfor %}
        </div>
      </div>


      <div id="body">{{ review.body }}</div>
      <div id="reason">Reason for using: {{ review.reason }}</div>

      <div id="create-date">{{ review.create_date }}</div>
    </div>
    {% endfor %}
    </div>
  </div>


  <div class="row">

	</div>
</div>




<script>


    
</script>

</div>

{% endblock %}

